<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" width="device-width, initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Eric Fram">
	<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
	<title>{{ page.title }} | Eric Fram </title>
	<!-- styles -->
	<link href="/bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- <link href="/css/boostrap.min.css" rel="stylesheet"> -->
	<link href="/pygments/syntax.css" rel="stylesheet">
	<!-- <link href="/bss/2.3.2/bootstrap-responsive.css"> -->

	<!-- animsition CSS -->
	<!-- <link rel="stylesheet" href="{{ site.url }}/animsition-master/dist/css/animsition.min.css"> -->

	<!-- vendor js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- load favicon -->
	<link rel="icon" type="image/png" href="/favicon.png">

	<!-- google analytics -->
	<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-63278806-1', 'auto');
  	ga('send', 'pageview');

		</script>



</head>
