<!-- HEADER + NAV -->
    <header role="banner">
      <nav id="navbar-primary" class="navbar navbar-default navbar-fixed-top">
        <div class="container-md">
					<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="ERIC FRAM">ERIC FRAM</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-pills navbar-nav navbar-right">
							<li class="{{ page.apps }}">
                <a href="/apps" title="Apps">
                  <div class='nav-item-container box link-hover-box nav-item'>
                  APPS
                  </div>
                </a>
              </li>
							<li class="{{ page.sites }}">
                <a href="/sites" title="Sites">
                  <div class='nav-item-container box link-hover-box nav-item'>
                  SITES
                  </div>
                </a>
              </li>
							<li class="{{ page.articles }}">
                <a href="/articles" title="Articles">
                  <div class='nav-item-container box link-hover-box nav-item'>
                  ARTICLES
                  </div>
                </a>
              </li>
							<li class="{{ page.contact }}">
                <a href="/contact" title="Contact">
                  <div class='nav-item-container box link-hover-box nav-item'>
                  CONTACT
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
<!--  /HEADER + NAV -->
