<!-- SCRIPTS -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ site.url }}/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/bootstrap-3.3.5/js/transition.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script src="{{ site.url }}/js/jquery.smooth-scroll.js"></script>
<script> $('a').smoothScroll(); </script>

<!-- <script src="{{ site.url }}/js/post-image-adjust.js"></script> -->

<!-- Auto hiding nav bar -->
<!--
<script src="{{ site.url }}/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
<script>$(".navbar-fixed-top").autoHidingNavbar();</script>
-->
<!-- /SCRIPTS -->
